<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Accueil</title>
</head>
<body>
<h1>Bienvenue dans votre bibliothèque sonore ! </h1>
<form action="{% url 'accueil' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit">
</form>

{% for album in albums %}
    <div class="albums">
        <a href="{% url 'lire_album' album.id %}">
            <p>{{ album.title }}</p></a>
    </div>
{% empty %}
    <p>Aucun article.</p>
{% endfor %}
</body>
</html>